.container-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.navs-login {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}

.login-description-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 35%;
    margin-top: 5rem;
}

.login-description-cadastro h1 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: #ffffff;
}

#span {
    color: #7978d9;
}

.login-description-cadastro h2 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #ffffff;
}

.login-description-cadastro button {
    width: 15rem;
    height: 4rem;
    background: #7978d9;
    border-radius: 5px;
    border: none;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
}

.login-form {
    width: 35%;
    height: 70%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-form strong {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    margin-top: 1rem;
    color: #7978d9;
}

.login-form form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 1rem;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    gap: 1rem;
    color: #484848;
}

form input {
    width: 100%;
    height: 3rem;
    background: #ffffff;
    border: 1px solid #555555;
    border-radius: 5px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

.login-form button {
    background: #7978d9;
    border-radius: 5px;
    width: 50%;
    height: 4rem;
    border: none;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
}

a {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    text-decoration: none;
}

.error {
    color: red;
}

@media (max-width: 767px) {
    .container-login {
        height: 110vh;
    }

    .navs-login {
        flex-direction: column;
        height: auto;
        gap: 4rem;
    }
    .login-description-cadastro {
        height: max-content;
        width: 90%;
    }

    .login-form {
        width: 90%;
        height: 50vh;
    }
}
