.container-main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#background-img {
    width: 100vw;
    height: 100vh;
}

.container-logo {
    display: flex;
    position: absolute;
    left: 8%;
    top: 1%;
    width: max-content;
    height: max-content;
}

#polygon2 {
    position: absolute;
    top: 33%;
    left: 2.5%;
}

.container-logo h2 {
    color: #ffffff;
    margin-left: 8px;
    font-size: 36px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
}
