.cadastro-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav-cadastro {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    width: 30%;
    max-width: 35rem;
    min-width: 35rem;
    height: 80%;
    background: #ffffff;
}

.nav-cadastro strong {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #7978d9;
}

.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 23rem;
    justify-content: space-between;
}

.form label {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #484848;
}

.form input {
    background: #ffffff;
    border: 1px solid #555555;
    border-radius: 5px;
}

.nav-cadastro button {
    width: 10rem;
    height: 3rem;
    background: #7978d9;
    border-radius: 5px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

#tem-cadastro {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #7b61ff;
}

.error {
    color: red;
}

#usuario-cadastrado {
    color: green;
    border: 4px solid;
    background: lightgreen;
}

@media (max-width: 767px) {
    .nav-cadastro {
        width: 90%;
        height: 70vh;
        max-width: 90%;
        min-width: 90%;
        margin-top: 1rem;
    }
}
